<section class="focus" id="focus">
    <div class="container">
        <h2>Our Focus</h2>
        <p>Fostering Startups and fast-moving companies Success: Harnessing the Power of AI Technologies to Expedite MVP Launches. From Conceptualization to Project Completion, We Elevate Your Vision with Efficiency and Expertise</p>
        
        <div class="focus-grid">
            <div class="focus-card">
                <div class="icon">
                    <img src="/images/growth-icon.svg" alt="Growth Icon">
                </div>
                <h3>Empowering Growth</h3>
                <p>We are an ideal technology partner for startups and emerging/growing businesses, offering solutions development with innovation and efficiency that leads to success and growth.</p>
            </div>
            
            <div class="focus-card">
                <div class="icon">
                    <img src="/images/ai-icon.svg" alt="AI Icon">
                </div>
                <h3>AI-First Solutions</h3>
                <p>Leveraging AI tools, we create products and services tailored to meet our clients' specific needs.</p>
            </div>
            
            <div class="focus-card">
                <div class="icon">
                    <img src="/images/cto-icon.svg" alt="CTO Icon">
                </div>
                <h3>Remote CTO and experts</h3>
                <p>Experience the transformative power of our remote CTO and expert technology team — bridging the tech gap and elevating your business to new heights.</p>
            </div>
        </div>
    </div>
</section>
